*{
    margin: 0;
    padding: 0;
}

.header_menu{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    background-color: #355053;
    border-bottom: 1px solid #737373;
    padding: 20px 0px;
    width: 100%;
    z-index: 999;
}
.header_baner{
    margin-top: 107px;
    background-color: #355053;
    align-items: center;
    color: #ffffff;
    padding: 100px 0;
}
@keyframes ballmove {
    from {
        left: -100px;
        transform: rotateZ(-1080deg);
    }
    to {left: 85%}
}
@keyframes logoopacity {
    from {
       opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.header_baner_img{
    position: absolute;
    left: 85%;
    width: 100px;
    height: 100px;
}
.header_baner_img_animation{
    animation: ballmove 3s ease-in-out;
}
.header_baner h1{
    font-size: 30px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
}
.logo_link{
    background-image: url("img/logo-ua.png");
    background-repeat: no-repeat;
    width: 293px;
    height: 66px;
}
.logo_animation{
    animation: logoopacity 3.2s ease-in-out;
}
.nav_bar{
    display: flex;
    align-items: center;
}
.nav_item >a {
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color:#ffffff;
    padding: 40px 20px;
}
.nav_bar a{
    transition: color .6s;
}
.nav_bar a:hover{
    color: #fac423;
}
.nav_item{
    display: inline-block;
}
.drop_down{
    position: relative;
}
.drop_down_menu{
  flex-direction: column;
  display: none;
  position: absolute;
  top: 50px;
  left: 0px;
  background-color: #ffffff;
  width: 220px;
  list-style-type: none;
  padding: 12px 0;
  border-radius: 5px;
  animation: movedown 1s ease-in;
}
@keyframes movedown {
    from {top: -200px}
    to {top: 50px}
}
.drop_down_item>a{
    color: #4d4d4d;
    display: block;
    text-decoration: none;
    font-size: 16px;
    padding: 4px 20px;
}
.drop_down:hover .drop_down_menu{
    display: inline-block;
    animation-timing-function: ease;
}
.main_container{
    padding: 120px 60px;
}
.about_container{
    display: flex;
    justify-content: space-between;
    gap: 0 60px;
}
.about_img img{
    width: 500px;
    height: 400px
}
.about_content h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.about_content h2 span{
    color: #ffc61c;
}
.about_content p{
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-bottom: 20px
}
.about_content .button{
    height: 43px;
    padding: 10px 34px;
    line-height: 22px;
    border-radius: 5px;
    color: #ffffff;
    margin-top: 10px;
    font-weight: 700;
    background-color: #4d4d4d;
    text-decoration: none;
    transition: background 1s;
}
.about_content .button:hover{
    background-color: #ffc61c;
}
.about_footer{
    padding-top: 35px;
}
.blog{
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
    padding-top: 30px;
}
.blog img{
    width: 370px;
    height: 230px;
}
.blog h3{
    font-size: 22px;
    margin-bottom: 16px;
    line-height: 28px;
    width: 370px;
}
.blog a{
    text-decoration: none;
    color: #4d4d4d;
}
.link_animation {
    transition: color .8s;
}
.blog a:hover{
    color: #ffc61c;
}
.footer_news{
    background-color: #ffc61c;
    padding: 40px 60px;
    display: flex;
    align-items: center;
}
.footer_news h4{
    color: #444;
    font-size: 18px;
    font-weight: 600;
    line-height: 14px;
    text-transform: uppercase;
}
.footer_news a {
    color: #444;
    display: block;
    line-height: 24px;
    text-decoration: none;
    padding-left: 30px;
}
.footer{
    background-color: #313131;
    padding: 13px 60px;
    display: flex;
    justify-content: space-between;
}
.footer p{
    display: inline-block;
    color: #dddddd;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

/* biography styles */
.biography_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.biography {
    grid-column-start: 1;
    grid-column-end: 3;
}
.biography p{
    font-size: 20px;
}
.biography ul{
    list-style-type: none;
    font-size: 20px;
    margin-bottom: 15px;
    padding-left: 30px;
    line-height: 30px;
}
.biography_social a{
    text-decoration: none;
    color: #4d4d4d;
}
.biography_social a:hover{
    color: #fac423;
}
.side_bar{
    grid-column-start: 3;
    grid-column-end: 3;
    padding-left: 60px;
}
.side_bar_item {
    display: flex;
    margin-bottom: 20px;
}
.side_bar_item img{
    width: 100px;
    height: 100px;
    margin-right: 15px;
}
.side_bar h4{
    font-size: 20px;
    font-weight: 600;
    color: #4d4d4d;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 3px solid #ffc61c;
}
.side_bar a{
    font-size: 20px;
    color: #4d4d4d;
    margin-bottom: 5px;
    font-weight: 400;
    text-decoration: none;
}
.side_bar a:hover{
    color: #fac423;
}